
*{
  margin: 0;  
  padding: 0;   
  box-sizing: border-box; 
}
body{
  font-family: 'Segoe UI', sans-serif;  
  background-color: #fffafc;  
  color: #333;  
}


header{
  background-color: #f48fb1; 
  color: white; 
  text-align: center;
  padding: 12px 0; 
}
header h1{
  font-size: 1.8em;   
}


.banner{
  display: flex;  
  justify-content: center;  
  color: white;
  text-shadow: 2px 2px 5px #000;  
  font-size: 2em; 
  font-weight: bold;  
}

a{
  text-decoration: none;  
  color: inherit;  
}


nav ul.menu{
  list-style: none;   
  display: flex;    
  justify-content: center;   
  background-color: #f06292;    
  margin-bottom: 2px;  
}
nav ul.menu li{
  position: relative;
  margin: 0 8px;
}
nav ul.menu > li > a{
  color: white;  
  font-weight: bold;   
  padding: 6px 10px;  
  display: block;   
  transition: 0.3s;   
}
nav ul.menu > li > a:hover {
  background-color: #ec407a;  
  border-radius: 5px;  
}
nav ul.submenu{  
  display: none;    
  position: absolute;   
  top: 100%;    
  left: 0;    
  background-color: #f8bbd0; 
  list-style: none;  
  border-radius: 5px;   
  padding: 5px 0;  
  min-width: 180px;  
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);    
}
nav ul.menu li:hover > ul.submenu{
  display: block;  
}
nav ul.submenu li a{
  color: #880e4f;
  display: block; 
  padding: 8px 15px; 
  text-align: left; 
  font-size: 0.9em; 
}
nav ul.submenu li a:hover {
  background-color: #ee4f84; 
  color: rgb(213, 175, 175);
} 


main{
  padding-left: 30px; 
  text-align: center; 
}
main h2{
  color: #e91e63;
  margin-bottom: 20px;} 
.product-list{
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
  gap: 20px;  
  justify-items: center; 
}
.product{
  background: white; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  width: 250px; 
  padding: 15px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
  transition: transform 0.3s, box-shadow 0.3s;
}
.product:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}
.product img{
  width: 100%; 
  border-radius: 10px; 
  height: 180px; 
  object-fit: cover; 
}
.product h3{
  margin: 10px 0 5px; 
  color: #c2185b; 
}
.product p{
  font-size: 0.9em; 
  color: #555; 
  margin-bottom: 8px;
}
.price{
  display: inline-block; 
  margin-top: 5px;
  font-weight: bold;
  color: #e91e63;
  background-color: #ffe4ec;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.95em;
  border: 1px solid #f8bbd0;
}


footer{
  background-color: #f48fb1;
  color: white;
  text-align: center; 
  padding: 10px 0;
  margin-top: 20px;
}
footer p{
  font-size: 0.9em;
}
